aside{
    width: 320px;
    background-color: #fff;    
    padding: 30px 20px;
}

aside strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #333;
}

@media (max-width: 1000px){

    aside{
      width: 100%;
    }
  }

